<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSMS BITS Pilani</title>
</head>
<body align="center">
<h1>Today's Menu</h1>
<h2>{{date}}</h2>
<h2>{{day}}</h2>
<h3>{{types.0.meal_type}}</h3>
<ul>
    {% for i in items.0 %}
    <li>{{i.item}}</li>
    {% endfor %}
</ul>
<h3>{{types.1.meal_type}}</h3>
<ul>
    {% for i in items.1 %}
    <li>{{i.item}}</li>
    {% endfor %}
</ul>
<h3>{{types.2.meal_type}}</h3>
<ul>
    {% for i in items.2 %}
    <li>{{i.item}}</li>
    {% endfor %}
</ul>
</body>
</html>